.mainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.mainNav{
    display: flex;
    background-color: red;
    min-width: 100%;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

.logo img{
    height: 40px;
}

.score{
    font-size: 25px;
    font-weight: 500;
}

.chooseGame{
    display: flex;
    background-color: white;
    min-width: 100%;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

.btn{
    background-color: white;
    border: 0px;
    color: black;
    border-radius: none;
    height: 30px;
}

.btn.active{
    background-color: red;
    color: white;
    font-weight: 700;
}

.show{
    display: flex;
    flex-direction: row;
}

.playerList{
    max-width: 81%;
    margin: 0;
}
.divider{
    border-left: 4px solid red;
    /* margin: 5%; */
}

.addedPlayers{
    min-width: 30%;
    
}
h2{
    text-align: center;
    color: blue;
}

@media (max-width: 500px) {    
    .mainNav{
        width: 100%;
        height: 30px;
    }
    
    .logo img{
        height: 27px;
    }
    
    .score{
        font-size: 20px;
    }
    
    .chooseGame{
        height: 30px;
    }
    
    .btn{
        height: 20px;
    }

    .show{
        display: flex;
        flex-direction: column;
    }
    
    .playerList{
        width: 100%;
    }
    .divider{
        border-top: 3px solid red;
    }
    
    .addedPlayers{
        width: 100%;
        
    }
  
  }
  