
  nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    height: 72px;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 20px; 
  }
  
  span {
    color: #d01c28;
  }
  
  .logo img {
    height: 60px;
  }
  
  .rightContent{
    display: flex;
    margin-left: 650px;
    align-items: center;
    font-size: large;
  }
  
  button {
    padding: 6px 16px;
    background: #d01c28;
    height: 35px;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .background {
    background-image: url('../assets/bg.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  
/* Responsive adjustments */
@media (max-width: 1000px) {
  nav {
    height: 40px;
    padding: 0 10px; 
  }
  
  .logo img {
    height: 30px;
  }
  
  .rightContent{
    margin-left: 200px;
  }
  
  button {
    padding: 3px 8px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
  }

}


@media (max-width: 600px) {
 
  nav {
    height: 40px;
    padding: 0 5px; 
  }
  
  .logo img {
    height: 30px;
  }
  
  .rightContent{
    margin-left: 10px;
    font-size: small;
  }
  
  button {
    padding: 1px 3px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
  }
  .background {
    background-image: url('../assets/o7.jpg');
  }
  
}

  